<div class="main">
    <div class="container">
       <div class="parent1"><h1>Lets add a type, Category and <br>Sub-category</h1><br><br>
           <div class="child">
               <form action="" id="form1">
                   <label class="label" for="books"><b>Add a product type</b></label><br>
                   <input type="text" id="books" placeholder="eg-books" required><br><br>
                   <label for="academic"><b>Add a category (optional)</b></label><br>
                   <input type="text" name="" id="academic" placeholder="eg-Academic book"><br><br>
                   <label for="medical"><b>Add a sub-category</b> (optional)</label><br>
                   <input type="text" id="medical" placeholder="eg-medical book"><br><br>
               </form>
               <br><br>
               <div class="item1">
                   <button routerLink="/" type="submit" form="form1" value="back" style="border-radius: 3px; padding: 20px 40px; font-size: 20px;"> <i class="arrow left"></i>Back</button> 
                   
                   <button routerLink="/third" type="submit" form="form1" value="next" style="border-radius: 3px solid blue; padding: 20px 40px; font-size: 20px; background-color: blue; color: white;">Next</button>
                </div>
                        
            </div>
             
         
         
         </div>
         <div class="parent2">
          <img src="'./../../../assets/images/Screenshot (129).png">
         </div>
        
                
    
       </div>
    </div>