<div class="container">

</div>
<div class="main">
        <h2>Apply a theme</h2>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="./../../assets/images/Screenshot (126).png"></div>
              <div class="card_content">
                <h2 class="card_title">Bags theme</h2>
                <div class="button">
                    <button class="btn" style="border: 2px solid blue; font-size: 20px;">Apply</button>
                </div>
                <!-- <button class="btn card_btn">Apply</button> -->
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="../../assets/images/Screenshot (127).png"></div>
              <div class="card_content">
                <h2 class="card_title">Flex theme</h2>
                <div class="button">
                    <button class="btn" style="border: 2px solid blue;font-size: 20px;">Apply</button>
                </div>
                <!-- <button class="btn card_btn">Apply</button> -->
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="./../../assets/images/Screenshot (128).png"></div>
              <div class="card_content">
                <h2 class="card_title">Chic theme</h2>
                <div class="button">
                    <button class="btn" style="border: 2px solid blue; font-size: 20px;">Apply</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <button routerLink="/second" class="button-1">Next</button> 
        <router-outlet></router-outlet>
      </div>


